@font-face {
  font-family: CursorGothic;
  src: url("./fonts/CursorGothic-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: CursorGothic,'Courier New', Courier, monospace;
  color: var(--font-primary-color);
}
:root {
  --primary-background-color: #14120b;
  --secondary-background-color: #1d1b15;
  --font-primary-color: #edecec;
  --font-secondary-color: #f54e00;
}
html,
body {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-background-color);
  font-family: CursorGothic,'Courier New', Courier, monospace;
}
a {
  text-decoration: none;
}

/* ------HEADER/NAVBAR----- */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 86%;
  padding: 10px 0;
  margin: 0 auto;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
nav {
  display: flex;
  align-items: center;
  gap: 29px;
  margin-left: 11%;
}
nav a {
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: 500;
}
.header-buttons {
  display: flex;
  align-items: center;
  gap: 11px;
}
.header-buttons button {
  font-size: 0.865rem;
  font-weight: normal;
  border-radius: 40px;
  color: var(--font-primary-color);
  background-color: transparent;
}
.header-buttons .contact-btn {
  border: 0;
  padding: 4px;
}
.header-buttons .signin-btn {
  border: 0.5px solid rgb(79, 80, 81);
  padding: 5px 11px;
}
.header-buttons .download-btn {
  background-color: var(--font-primary-color);
  color: var(--primary-background-color);
  padding: 5px 11px;
}

/*      -----HERO-SECTION----- */
.hero-section {
  width: 86%;
  margin: 0 auto;
  padding-top: 112px;
  padding-right: 20px;
}
.hero-section .hero-intro p {
  font-weight: 400;
  font-size: 1.625rem;
  line-height: 1.25;
  width: 45%;
  margin-bottom: 22.4px;
}
.hero-intro button {
  color: var(--primary-background-color);
  padding: 12px 21px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 30.5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 300;
  border: 1px solid var(--font-primary-color);
  line-height: 1;
  margin-bottom: 4rem;
}
.hero-intro button span {
  color: var(--primary-background-color);
  margin-left: 5px;
}
.hero-section img {
  object-fit: cover;
  object-position: center;
}

/*     -----COMPANY LOGOS */
.company-logos {
  text-align: center;
  width: 86%;
  margin: 0 auto;
  padding: 55px 0;
}
.company-logos h2 {
  margin-bottom: 22.4px;
  font-size: 14px;
}
.company-logos div {
  display: flex;
  justify-content: space-between;
}
.company-logos div .logos-list {
  background-color: var(--secondary-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-radius: 8px;
  width: 100px;
  padding-inline: 78px;
}

/*    ----- FEATURE SECTION -----*/
.feature {
  width: 86%;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.first,
.second {
  width: 100%;
  padding: 20px;
  display: flex;
  background-color: var(--secondary-background-color);
}
.feature-content {
  flex: 1;
  align-self: center;
  color: var(--font-primary-color);
  padding-right: 100px;
  border-radius: 8px;
}
.feature-content h3 {
  font-size: 22px;
  font-weight: 100;
}
.feature-content p {
  font-size: 22px;
  font-weight: 100;
  opacity: 0.7;
  padding-bottom: 18px;
}
.feature-content span {
  color: var(--font-secondary-color);
}
.feature-image {
  flex: 2;
  border-radius: 8px;
}
.feature-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
.second .feature-content {
  padding-left: 100px;
  padding-right: 0;
}

/*    -----FEATURES-CARD SECTION -----*/
.feature-card {
  width: 86%;
  margin: 60px auto;
  gap: 60px;
}
.feature-card h2 {
  text-align: center;
  font-weight: 100;
  font-size: 2.25rem;
  padding: 56px 0;
}
.feature-card .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 240px);
  gap: 10px;
}
.feature-card .cards .card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  background-color: var(--secondary-background-color);
  border-radius: 10px;
}
.feature-card .cards .card p {
  font-size: 16px;
  line-height: 1.5;
}
.feature-card .cards .card div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.feature-card .cards .card div img {
  width: 40px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
.person-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 12px;
  line-height: 1.5;
}
.person-info .name {
  font-size: 0.875rem;
  font-weight: 400;
}
.person-info .position {
  font-size: 0.875rem;
  font-weight: 400;
  opacity: 0.6;
}

/*      ----- TESTIMONIALS----  */
.testimonials {
  width: 86%;
  margin: 80px auto;
}
.testimonials h2 {
  padding: 24px 0;
  font-weight: 200;
  font-size: 26px;
}
.testimonials .cards {
  display: flex;
  gap: 8px;
}
.testimonials .card {
  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 18px;
  border-radius: 5px;
}
.testimonials .card div {
  display: flex;
  flex-direction: column;
  gap: 3px;
  line-height: 1.3;
}
.testimonials .card div h3 {
  font-weight: 200;
  font-size: 16px;
}
.testimonials .card div p {
  font-weight: 200;
  font-size: 16px;
  opacity: 0.6;
}
.testimonials .card div .link {
  opacity: 1;
  font-weight: 200;
  font-size: 16px;
  padding: 12px 0;
  letter-spacing: 0.2px;
  color: var(--font-secondary-color);
}
.testimonials .card img {
  flex: 3;
  height: 300px;
  width: 400px;
  object-fit: cover;
  object-position: center;
}

/*      ----- CHANGELOG ----  */
.changelog {
  width: 86%;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 50px 0;
}
.changelog h2 {
  font-weight: 200;
  font-size: 26px;
}
.changelog .cards {
  width: 100%;
  height: 120px;
  display: flex;
  gap: 5px;
}
.changelog .cards div {
  padding: 10px;
  background-color: var(--secondary-background-color);
  border-radius: 5px;
}
.changelog .cards div .info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.changelog .cards div .info .info-number {
  border: 1px solid gray;
  padding: 2px 10px;
  border-radius: 20px;
  font-size: 14px;
  opacity: 0.7;
}
.changelog .cards div .info .info-date {
  font-size: 14px;
  opacity: 0.7;
}
.changelog div h4 {
  color: var(--font-primary-color);
  font-weight: 100;
  padding: 10px;
}
.changelog h4 {
  color: var(--font-secondary-color);
  font-weight: 100;
}

/*    -----TEAM---- */
.team {
  width: 86%;
  height: 460px;
  margin: 80px auto;
  background-color: var(--font-secondary-color);
}
.team .first {
  height: 100%;
  width: 100%;
  padding: 20px;
}
.team .first .feature-content h3 {
  margin: 30px 0;
}

/*    ----- HIGHLIGHTS ---- */
.highlights {
  margin: 200px auto;
  background-color: var(--secondary-background-color);
  padding: 90px 120px;
  display: flex;
  align-items: flex-start;
  gap: 180px;
  justify-content: flex-start;
}
.highlights .topic {
  font-weight: 500;
}
.highlights .post {
  width: 650px;
}
.highlights .post div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.highlights .post div .card {
  background-color: #26241e;
  padding: 16px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.highlights .post div .card .content h3 {
  font-size: 16px;
  font-weight: 200;
}
.highlights .post div .card .content p {
  font-size: 16px;
  font-weight: 200;
  opacity: 0.6;
}
.highlights .post div .card p {
  font-size: 16px;
  font-weight: 200;
  opacity: 0.7;
}
.highlights .post .more-post {
  font-size: 16px;
  font-weight: 200;
  color: var(--font-secondary-color);
  padding: 24px 0;
}

/*    ----- CTA ---- */
.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 130px;
}

.cta h1 {
  font-size: 4.5rem;
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: -3px;
  color: var(--font-primary-color);
  margin: 18px auto;
}
button {
  color: var(--secondary-background-color);
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  border: 0;
  font-weight: 200;
}

/* ---- FOOTER ---- */
footer {
  width: 100%;
  background-color: var(--secondary-background-color);
}
footer .links {
  width: 86%;
  margin: 0 auto;
  height: 380px;
  display: grid;
  padding: 80px 0;
  grid-template-columns: repeat(5, 1fr);
}
footer .links .column-link h3 {
  font-size: 0.875rem;
  opacity: 0.6;
  font-weight: 100;
}
footer .links .column-link ul li {
  list-style-type: none;
  font-size: 0.875rem;
  padding: 7px 0;
  font-weight: 100;
}
footer .details-bar {
  width: 86%;
  margin: 0 auto;
  padding: 36px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .company-copyright {
  display: flex;
  gap: 10px;
  font-size: 10px;
  opacity: 0.6;
  letter-spacing: 0.5px;
  font-size: 14px;
}
footer .details-bar .theme {
  display: flex;
  gap: 20px;
}
footer .details-bar .theme p {
  background-color: var(--primary-background-color);
  border-radius: 20px;
  padding: 4px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 200;
}
footer .details-bar .theme .icons {
  display: flex;
  gap: 10px;
  background-color: var(--primary-background-color);
  border-radius: 20px;
  padding: 4px 6px;
  font-size: 14px;
}
